.login-page{
  padding: 1.5rem 1rem;
}

.login-form{
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}


.login-error{
  width: 100%;
  min-height: 50px;
  margin-bottom: 1.5rem;
}

.btn-login{
    margin-top: 1.5rem;
}